@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css">
</head>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>name</th>
            <th>email</th>
            <th>orderDate</th>
            <th>productName</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>name</th>
            <th>email</th>
            <th>orderDate</th>
            <th>productName</th>
        </tr>
    </tfoot>
</table>
